<a href="https://colab.research.google.com/github/rithikkulkarni/simstudent-data-preprocessing/blob/main/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import pandas as pd

file_path = 'https://github.com/rithikkulkarni/simstudent-data-preprocessing/raw/main/datasets/Algebra2017May(YesPrep)-APLUS-SUBSET.xlsx'

df = pd.read_excel(file_path, sheet_name="Algebra2017May(YesPrep)-APLUS", engine="openpyxl")
print(df.shape)

KeyboardInterrupt:

In [44]:
### Loading the already filtered dataset from github
file_path = 'https://github.com/rithikkulkarni/simstudent-data-preprocessing/raw/main/datasets/SimStudent_StudyVII_May2017_Preprocessed_Subset.xlsx'

df = pd.read_excel(file_path)
print(df.shape)

(140943, 19)

In [45]:
unique_students = df['Anon Student Id'].nunique()
print(f'# of Unique Students: {unique_students}')

KeyError: 'Anon Student Id'

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140943 entries, 0 to 140942
Data columns (total 62 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Row                          140943 non-null  int64
 1   Sample Name                  140943 non-null  object
 2   Transaction Id               140943 non-null  object
 3   Anon Student Id              140943 non-null  object
 4   Session Id                   140943 non-null  object
 5   Time                         140943 non-null  datetime64[ns]
 6   Time Zone                    140943 non-null  object
 7   Duration (sec)               140943 non-null  object
 8   Student Response Type        140943 non-null  object
 9   Student Response Subtype     63907 non-null   object
 10  Tutor Response Type          136474 non-null  object
 11  Tutor Response Subtype       62173 non-null   object
 12  Level (Unit)                 140943 non-null  object
 13  Problem Name                 140942 non-null  object
 14  Problem View                 140943 non-null  int64
 15  Problem Start Time           140943 non-null  datetime64[ns]
 16  Step Name                    136474 non-null  object
 17  Attempt At Step              136474 non-null  float64
 18  Is Last Attempt              136474 non-null  float64
 19  Outcome                      136474 non-null  object
 20  Selection                    68958 non-null   object
 21  Action                       68958 non-null   object
 22  Input                        68954 non-null   object
 23  Feedback Text                20420 non-null   object
 24  Feedback Classification      0 non-null       float64
 25  Help Level                   5806 non-null    float64
 26  Total Num Hints              0 non-null       float64
 27  Condition Name               140943 non-null  object
 28  Condition Type               0 non-null       float64
 29  KC (Problem)                 86862 non-null   object
 30  KC Category (Problem)        86862 non-null   object
 31  KC (Step)                    53673 non-null   object
 32  KC Category (Step)           53673 non-null   object
 33  KC (ActualSkill)             66297 non-null   object
 34  KC Category (ActualSkill)    66293 non-null   object
 35  KC (Default)                 62173 non-null   object
 36  KC Category (Default)        62172 non-null   object
 37  KC (ProblemSubmit)           915 non-null     object
 38  KC Category (ProblemSubmit)  915 non-null     object
 39  KC (Single-KC)               136474 non-null  object
 40  KC Category (Single-KC)      0 non-null       float64
 41  KC (Unique-step)             97186 non-null   object
 42  KC Category (Unique-step)    0 non-null       float64
 43  School                       140943 non-null  object
 44  Class                        140943 non-null  object
 45  CF (ACTION)                  138286 non-null  object
 46  CF (ACTION_TYPE)             138286 non-null  object
 47  CF (DURATION)                23458 non-null   float64
 48  CF (HINT_FOLLOWED)           138286 non-null  object
 49  CF (HINT_SUBJECT)            138285 non-null  object
 50  CF (HINT_TYPE)               138286 non-null  object
 51  CF (INFO)                    138286 non-null  object
 52  CF (RESULT)                  107955 non-null  object
 53  CF (STATUS)                  138286 non-null  object
 54  CF (STUDENT_LOG_COUNT)       138286 non-null  float64
 55  CF (USERID)                  138286 non-null  object
 56  CF (date)                    138286 non-null  object
 57  Participation Day Key        138286 non-null  object
 58  Participation Day            137985 non-null  float64
 59  CF (tool_event_time)         140943 non-null  object
 60  Unnamed: 60                  0 non-null       float64
 61  Unnamed: 61                  0 non-null       float64
dtypes: datetime64[ns](2), float64(13), int64(2), object(45)
memory usage: 66.7+ MB

In [11]:
### REMOVAL OF UNWANTED COLUMNS (RUN ONLY ONCE)
df = df.drop([
  'Feedback Classification',
  'Total Num Hints',
  'Condition Type',
  'KC Category (Single-KC)',
  'KC Category (Unique-step)',
  'Unnamed: 60',
  'Unnamed: 61',
  'Row',
  'Sample Name',
  'Transaction Id',
  'School',
  'Time Zone',
  'Time',
  'Tutor Response Type',
  'Tutor Response Subtype',
  'Level (Unit)',
  'Problem Name',
  'Step Name',
  'Selection',
  'Action',
  'KC (Problem)',
  'KC (Step)',
  'KC Category (Step)',
  'KC (ActualSkill)',
  'KC Category (ActualSkill)',
  'KC (Default)',
  'KC Category (Default)',
  'KC (ProblemSubmit)',
  'KC Category (ProblemSubmit)',
  'KC (Single-KC)',
  'KC (Unique-step)',
  'Class',
  'CF (HINT_FOLLOWED)',
  'CF (HINT_SUBJECT)',
  'CF (HINT_TYPE)',
  'CF (INFO)',
  'CF (RESULT)',
  'CF (USERID)',
  'CF (STUDENT_LOG_COUNT)',
  'CF (date)',
  'Participation Day Key',
  'Student Response Subtype',
  'Problem Start Time'
], axis=1)

In [12]:
# Renaming columns in preparation for dataset export
df = df.rename(columns={
  'Anon Student Id': 'student_id',
  'Session Id': 'session_id',
  'Duration (sec)': 'duration_sec',
  'Student Response Type': 'student_response_type',
  'Problem View': 'problem_view',
  'Attempt At Step': 'attempt_at_step',
  'Is Last Attempt': 'is_last_attempt',
  'Outcome': 'outcome',
  'Input': 'input',
  'Feedback Text': 'feedback_text',
  'Help Level': 'help_level',
  'Condition Name': 'condition_name',
  'KC Category (Problem)': 'problem_category',
  'CF (ACTION)': 'action_explanation',
  'CF (ACTION_TYPE)': 'action',
  'CF (DURATION)': 'duration',
  'CF (STATUS)': 'status',
  'Participation Day': 'participation_day',
  'CF (tool_event_time)': 'tool_event_time'
})

In [13]:
# Get a visual of the amount of unique values in each column

for col in df.columns:
  print(f'{col}: {df[col].nunique()}')

student_id: 266
session_id: 856
duration_sec: 1100
student_response_type: 2
problem_view: 25
attempt_at_step: 385
is_last_attempt: 2
outcome: 4
input: 1944
feedback_text: 8253
help_level: 4
condition_name: 2
problem_category: 8
action_explanation: 58
action: 12
duration: 2242
status: 3
participation_day: 4
tool_event_time: 140041

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140943 entries, 0 to 140942
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   student_id             140943 non-null  object
 1   session_id             140943 non-null  object
 2   duration_sec           140943 non-null  object
 3   student_response_type  140943 non-null  object
 4   problem_view           140943 non-null  int64
 5   attempt_at_step        136474 non-null  float64
 6   is_last_attempt        136474 non-null  float64
 7   outcome                136474 non-null  object
 8   input                  68954 non-null   object
 9   feedback_text          20420 non-null   object
 10  help_level             5806 non-null    float64
 11  condition_name         140943 non-null  object
 12  problem_category       86862 non-null   object
 13  action_explanation     138286 non-null  object
 14  action                 138286 non-null  object
 15  duration               23458 non-null   float64
 16  status                 138286 non-null  object
 17  participation_day      137985 non-null  float64
 18  tool_event_time        140943 non-null  object
dtypes: float64(5), int64(1), object(13)
memory usage: 20.4+ MB

In [15]:
df.to_excel('SimStudent_StudyVII_May2017_Preprocessed_Subset.xlsx', index=False)

# Filtering done. Now for sorting and visualizing

In [46]:
### Convert UTC times to EST

import pytz
from datetime import datetime

utc = pytz.UTC
eastern = pytz.timezone("US/Eastern")

def convert_time(value):
    try:
        if pd.isna(value):  # check for NaT or None
            return pd.NaT

        value_str = str(value)

        if "UTC" in value_str:
            dt = datetime.strptime(value_str.replace(" UTC", ""), "%Y-%m-%d %H:%M:%S.%f")
            dt = utc.localize(dt).astimezone(eastern)
        else:
            dt = datetime.strptime(value_str, "%Y-%m-%d-%H:%M:%S.%f")
            dt = eastern.localize(dt)

        return dt

    except Exception as e:
        print(f"Failed to parse: {value} â†’ {e}")
        return pd.NaT


df['tool_event_time'] = df['tool_event_time'].apply(convert_time)
df['tool_event_time_str'] = df['tool_event_time'].dt.strftime('%Y-%m-%d %H:%M:%S.%f')

### Create sorted dataframe
df.sort_values(by=['student_id','tool_event_time'], inplace=True)

In [47]:
df.head(50)

,student_id,session_id,duration_sec,student_response_type,problem_view,attempt_at_step,is_last_attempt,outcome,input,feedback_text,help_level,condition_name,problem_category,action_explanation,action,duration,status,participation_day,tool_event_time,tool_event_time_str
101,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,6.5,HINT_REQUEST,1,1.0,0.0,UNGRADED,NaN,NaN,NaN,MetaTutorMC,OneStep,New Problem Entered,SIM_STUDENT_PROBLEM,NaN,Tutoring,1.0,2017-05-18 12:46:43.216000-04:00,2017-05-18 12:46:43.216000
1807,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,2.333,HINT_REQUEST,1,21.0,1.0,UNGRADED,'-1,"It's a good strategy to quiz ron, because it w...",NaN,MetaTutorMC,NaN,Metatutor Hint Given,SIM_STUDENT_METATUTOR,NaN,Tutoring,1.0,2017-05-18 12:48:19.028000-04:00,2017-05-18 12:48:19.028000
1850,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,0.333,HINT_REQUEST,1,9.0,0.0,UNGRADED,'-1,"It's a good strategy to quiz ron, because it w...",NaN,MetaTutorMC,NaN,Metatutor Hint Given,SIM_STUDENT_METATUTOR,NaN,Tutoring,1.0,2017-05-18 12:49:15.338000-04:00,2017-05-18 12:49:15.338000
1873,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,0.667,HINT_REQUEST,1,11.0,0.0,UNGRADED,'3v+2,I see that ron failed all quiz items. ron can ...,NaN,MetaTutorMC,NaN,Metatutor Hint Given,SIM_STUDENT_METATUTOR,NaN,Quiz,1.0,2017-05-18 12:50:10.578000-04:00,2017-05-18 12:50:10.578000
1964,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,0.333,HINT_REQUEST,1,1.0,0.0,UNGRADED,NaN,NaN,NaN,MetaTutorMC,TwoStep,New Problem Entered,SIM_STUDENT_PROBLEM,NaN,Tutoring,1.0,2017-05-18 12:51:36.452000-04:00,2017-05-18 12:51:36.452000
1987,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,1,HINT_REQUEST,1,51.0,1.0,UNGRADED,'3v+2,ron failed all quiz items. ron can do better w...,NaN,MetaTutorMC,NaN,Metatutor Hint Given,SIM_STUDENT_METATUTOR,NaN,Tutoring,1.0,2017-05-18 12:59:24.810000-04:00,2017-05-18 12:59:24.810000
2023,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,0.2,HINT_REQUEST,1,50.0,0.0,UNGRADED,'3v+2,I see that ron failed all quiz items. ron can ...,NaN,MetaTutorMC,TwoStep,Metatutor Hint Given,SIM_STUDENT_METATUTOR,NaN,Tutoring,1.0,2017-05-18 12:59:33.820000-04:00,2017-05-18 12:59:33.820000
2090,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,0.333,HINT_REQUEST,1,1.0,0.0,UNGRADED,NaN,NaN,NaN,MetaTutorMC,OneStep,New Problem Entered,SIM_STUDENT_PROBLEM,NaN,Tutoring,1.0,2017-05-18 13:01:39.392000-04:00,2017-05-18 13:01:39.392000
2115,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,0.333,HINT_REQUEST,1,30.0,0.0,UNGRADED,'3v+2,I see that ron failed all quiz items. ron can ...,NaN,MetaTutorMC,OneStep,Metatutor Hint Given,SIM_STUDENT_METATUTOR,NaN,Tutoring,1.0,2017-05-18 13:05:31.247000-04:00,2017-05-18 13:05:31.247000
2133,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,0.333,HINT_REQUEST,1,7.0,0.0,UNGRADED,NaN,NaN,NaN,MetaTutorMC,OneStep,New Problem Entered,SIM_STUDENT_PROBLEM,NaN,Tutoring,1.0,2017-05-18 13:06:58.955000-04:00,2017-05-18 13:06:58.955000
85992,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,7,ATTEMPT,1,NaN,NaN,NaN,-1,NaN,NaN,MetaTutorMC,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-18 13:48:04.021000-04:00,2017-05-18 13:48:04.021000
86014,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,22,ATTEMPT,2,NaN,NaN,NaN,add 5,NaN,NaN,MetaTutorMC,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-18 13:51:59.640000-04:00,2017-05-18 13:51:59.640000
86102,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,0,ATTEMPT,2,NaN,NaN,NaN,-1,NaN,NaN,MetaTutorMC,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-18 13:58:22.239000-04:00,2017-05-18 13:58:22.239000
86149,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,11,ATTEMPT,2,NaN,NaN,NaN,-4s,NaN,NaN,MetaTutorMC,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-18 14:01:21.653000-04:00,2017-05-18 14:01:21.653000
86154,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,0,ATTEMPT,2,NaN,NaN,NaN,20,NaN,NaN,MetaTutorMC,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-18 14:01:35.615000-04:00,2017-05-18 14:01:35.615000
86191,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,77,ATTEMPT,3,NaN,NaN,NaN,how many times does 4 fit into 20?,NaN,NaN,MetaTutorMC,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-18 14:04:17.268000-04:00,2017-05-18 14:04:17.268000
86198,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,27,ATTEMPT,3,NaN,NaN,NaN,how many times does four fit into twenty,NaN,NaN,MetaTutorMC,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-18 14:04:44.047000-04:00,2017-05-18 14:04:44.047000
86202,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,31,ATTEMPT,3,NaN,NaN,NaN,x equals 5,NaN,NaN,MetaTutorMC,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-18 14:05:15.079000-04:00,2017-05-18 14:05:15.079000
86203,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,6,ATTEMPT,3,NaN,NaN,NaN,x equals 5,NaN,NaN,MetaTutorMC,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-18 14:05:21.829000-04:00,2017-05-18 14:05:21.829000
86206,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,0,ATTEMPT,3,NaN,NaN,NaN,x equals 5`,NaN,NaN,MetaTutorMC,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-18 14:05:30.115000-04:00,2017-05-18 14:05:30.115000
86225,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,20,ATTEMPT,3,NaN,NaN,NaN,-4s,NaN,NaN,MetaTutorMC,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-18 14:06:48.519000-04:00,2017-05-18 14:06:48.519000
86227,Stu_00c8134cc1df496e45ccb744097b7896,L53ff777e-cdd2-4ffa-a23f-1b04311ff0a4,0,ATTEMPT,3,NaN,NaN,NaN,20,NaN,NaN,MetaTutorMC,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-18 14:06:55.409000-04:00,2017-05-18 14:06:55.409000
2148,Stu_00c8134cc1df496e45ccb744097b7896,La73f1718-0743-4173-a680-5c0c7cef5f39,12.333,HINT_REQUEST,1,1.0,0.0,UNGRADED,NaN,NaN,NaN,MetaTutorMC,TwoStep,New Problem Entered,SIM_STUDENT_PROBLEM,NaN,Tutoring,2.0,2017-05-22 12:38:07.560000-04:00,2017-05-22 12:38:07.560000
2175,Stu_00c8134cc1df496e45ccb744097b7896,La73f1718-0743-4173-a680-5c0c7cef5f39,1,HINT_REQUEST,1,24.0,0.0,UNGRADED,',"Remember, the video shows you how to teach ron...",NaN,MetaTutorMC,TwoStep,Metatutor Hint Given,SIM_STUDENT_METATUTOR,NaN,Tutoring,2.0,2017-05-22 12:39:00.884000-04:00,2017-05-22 12:39:00.884000
2213,Stu_00c8134cc1df496e45ccb744097b7896,La73f1718-0743-4173-a680-5c0c7cef5f39,1,HINT_REQUEST,1,7.0,1.0,UNGRADED,'-1,"It's a good strategy to quiz ron, because it w...",NaN,MetaTutorMC,TwoStep,Metatutor Hint Given,SIM_STUDENT_METATUTOR,NaN,Tutoring,2.0,2017-05-22 12:39:50.524000-04:00,2017-05-22 12:39:50.524000
2253,Stu_00c8134cc1df496e45ccb744097b7896,La73f1718-0743-4173-a680-5c0c7cef5f39,0,HINT_REQUEST,1,1.0,0.0,UNGRADED,NaN,NaN,NaN,MetaTutorMC,TwoStep,New Problem Entered,SIM_STUDENT_PROBLEM,NaN,Tutoring,2.0,2017-05-22 12:40:48.422000-04:00,2017-05-22 12:40:48.422000
2319,Stu_00c8134cc1df496e45ccb744097b7896,La73f1718-0743-4173-a680-5c0c7cef5f39,0,HINT_REQUEST,1,58.0,1.0,UNGRADED,'-1,You restarted this problem too many times. How...,NaN,MetaTutorMC,NaN,Metatutor Hint Given,SIM_STUDENT_METATUTOR,NaN,Tutoring,2.0,2017-05-22 12:45:20.647000-04:00,2017-05-22 12:45:20.647000
2351,Stu_00c8134cc1df496e45ccb744097b7896,La73f1718-0743-4173-a680-5c0c7cef5f39,3,HINT_REQUEST,1,54.0,0.0,UNGRADED,'-1,You restarted this problem too many times. How...,NaN,MetaTutorMC,TwoStep,Metatutor Hint Given,SIM_STUDENT_METATUTOR,NaN,Tutoring,2.0,2017-05-22 12:45:33.853000-04:00,2017-05-22 12:45:33.853000
2384,Stu_00c8134cc1df496e45ccb744097b7896,La73f1718-0743-4173-a680-5c0c7cef5f39,0.75,HINT_REQUEST,1,55.0,0.0,UNGRADED,'-1,"It's a good strategy to quiz ron, because it w...",NaN,MetaTutorMC,TwoStep,Metatutor Hint Given,SIM_STUDENT_METATUTOR,NaN,Tutoring,2.0,2017-05-22 12:46:21.997000-04:00,2017-05-22 12:46:21.997000
2406,Stu_00c8134cc1df496e45ccb744097b7896,La73f1718-0743-4173-a680-5c0c7cef5f39,0.125,HINT_REQUEST,3,30.0,0.0,UNGRADED,'3v+2,I see that ron failed all quiz items. ron can ...,NaN,MetaTutorMC,NaN,Metatutor Hint Given,SIM_STUDENT_METATUTOR,NaN,Quiz,2.0,2017-05-22 12:49:34.151000-04:00,2017-05-22 12:49:34.151000
2472,Stu_00c8134cc1df496e45ccb744097b7896,La73f1718-0743-4173-a680-5c0c7cef5f39,0.125,HINT_REQUEST,3,19.0,0.0,UNGRADED,NaN,NaN,NaN,MetaTutorMC,NaN,New Problem Entered,SIM_STUDENT_PROBLEM,NaN,Tutoring,2.0,2017-05-22 12:50:28.656000-04:00,2017-05-22 12:50:28.656000
2478,Stu_00c8134cc1df496e45ccb744097b7896,La73f1718-0743-4173-a680-5c0c7cef5f39,0.333,HINT_REQUEST,1,1.0,0.0,UNGRADED,NaN,NaN,NaN,MetaTutorMC,TwoStep,New Problem Entered,SIM_STUDENT_PROBLEM,NaN,Tutoring,2.0,2017-05-22 12:50:50.548000-04:00,2017-05-22 12:50:50.548000
2507,Stu_00c8134cc1df496e45ccb744097b7896,L2deba201-c60b-4b04-863d-0d572071f3ef,0.667,HINT_REQUEST,1,1.0,0.0,UNGRADED,NaN,NaN,NaN,MetaTutorMC,OneStep,New Problem Entered,SIM_STUDENT_PROBLEM,NaN,Tutoring,3.0,2017-05-23 12:42:27.667000-04:00,2017-05-23 12:42:27.667000
2522,Stu_00c8134cc1df496e45ccb744097b7896,Le74a088e-f89d-40a5-8217-c798239fc048,74,HINT_REQUEST,8,31.0,1.0,UNGRADED,'-1,"It's a good strategy to quiz ron, because it w...",NaN,MetaTutorMC,TwoStep,Metatutor Hint Given,SIM_STUDENT_METATUTOR,NaN,Start,3.0,2017-05-23 12:48:46.480000-04:00,2017-05-23 12:48:46.480000
2594,Stu_00c8134cc1df496e45ccb744097b7896,Le74a088e-f89d-40a5-8217-c798239fc048,0,HINT_REQUEST,1,1.0,0.0,UNGRADED,NaN,NaN,NaN,MetaTutorMC,TwoStep,New Problem Entered,SIM_STUDENT_PROBLEM,NaN,Tutoring,3.0,2017-05-23 12:50:37.317000-04:00,2017-05-23 12:50:37.317000
2596,Stu_00c8134cc1df496e45ccb744097b7896,Le74a088e-f89d-40a5-8217-c798239fc048,0,HINT_REQUEST,1,6.0,0.0,UNGRADED,'-1,"It's a good strategy to quiz ron, because it w...",NaN,MetaTutorMC,NaN,Metatutor Hint Given,SIM_STUDENT_METATUTOR,NaN,Tutoring,3.0,2017-05-23 13:09:45.984000-04:00,2017-05-23 13:09:45.984000
2622,Stu_00c8134cc1df496e45ccb744097b7896,Le74a088e-f89d-40a5-8217-c798239fc048,0,HINT_REQUEST,1,1.0,0.0,UNGRADED,'NotSpecified,You have reviewed resources more. So teach ron...,NaN,MetaTutorMC,TwoStep,Metatutor Hint Given,SIM_STUDENT_METATUTOR,NaN,Quiz,3.0,2017-05-23 13:10:40.049000-04:00,2017-05-23 13:10:40.049000
35769,Stu_023f68b8c3e4e3eb51ac5c29a487b261,L73073f79-af6d-4c58-a0c3-6e22f16e7238,0.2,HINT_REQUEST,1,10.0,0.0,UNGRADED,NaN,NaN,NaN,AplusControl,NaN,Peer Learning Environment Started,SIM_STUDENT_PLE,NaN,Start,1.0,2017-05-16 11:27:43.958000-04:00,2017-05-16 11:27:43.958000
35770,Stu_023f68b8c3e4e3eb51ac5c29a487b261,L73073f79-af6d-4c58-a0c3-6e22f16e7238,0.2,HINT_REQUEST,1,9.0,0.0,UNGRADED,NaN,NaN,NaN,AplusControl,NaN,Initialize BKT KC,BKT,NaN,Start,1.0,2017-05-16 11:27:44.147000-04:00,2017-05-16 11:27:44.147000
35771,Stu_023f68b8c3e4e3eb51ac5c29a487b261,L73073f79-af6d-4c58-a0c3-6e22f16e7238,0.2,HINT_REQUEST,1,8.0,0.0,UNGRADED,NaN,NaN,NaN,AplusControl,NaN,Initialize BKT KC,BKT,NaN,Start,1.0,2017-05-16 11:27:44.151000-04:00,2017-05-16 11:27:44.151000
35772,Stu_023f68b8c3e4e3eb51ac5c29a487b261,L73073f79-af6d-4c58-a0c3-6e22f16e7238,0.2,HINT_REQUEST,1,7.0,0.0,UNGRADED,NaN,NaN,NaN,AplusControl,NaN,Initialize BKT KC,BKT,NaN,Start,1.0,2017-05-16 11:27:44.184000-04:00,2017-05-16 11:27:44.184000
35773,Stu_023f68b8c3e4e3eb51ac5c29a487b261,L73073f79-af6d-4c58-a0c3-6e22f16e7238,0.2,HINT_REQUEST,1,6.0,0.0,UNGRADED,NaN,NaN,NaN,AplusControl,NaN,Initialize BKT KC,BKT,NaN,Start,1.0,2017-05-16 11:27:44.187000-04:00,2017-05-16 11:27:44.187000
35774,Stu_023f68b8c3e4e3eb51ac5c29a487b261,L73073f79-af6d-4c58-a0c3-6e22f16e7238,0.2,HINT_REQUEST,1,5.0,0.0,UNGRADED,NaN,NaN,NaN,AplusControl,NaN,Initialize BKT KC,BKT,NaN,Start,1.0,2017-05-16 11:27:44.189000-04:00,2017-05-16 11:27:44.189000
35775,Stu_023f68b8c3e4e3eb51ac5c29a487b261,L73073f79-af6d-4c58-a0c3-6e22f16e7238,0.2,HINT_REQUEST,1,4.0,0.0,UNGRADED,NaN,NaN,NaN,AplusControl,NaN,Initialize BKT KC,BKT,NaN,Start,1.0,2017-05-16 11:27:44.192000-04:00,2017-05-16 11:27:44.192000
35776,Stu_023f68b8c3e4e3eb51ac5c29a487b261,L73073f79-af6d-4c58-a0c3-6e22f16e7238,0.2,HINT_REQUEST,1,3.0,0.0,UNGRADED,NaN,NaN,NaN,AplusControl,NaN,Initialize BKT KC,BKT,NaN,Start,1.0,2017-05-16 11:27:44.195000-04:00,2017-05-16 11:27:44.195000
35777,Stu_023f68b8c3e4e3eb51ac5c29a487b261,L73073f79-af6d-4c58-a0c3-6e22f16e7238,0.2,HINT_REQUEST,1,2.0,0.0,UNGRADED,NaN,NaN,NaN,AplusControl,NaN,Initialize BKT KC,BKT,NaN,Start,1.0,2017-05-16 11:27:44.197000-04:00,2017-05-16 11:27:44.197000
35778,Stu_023f68b8c3e4e3eb51ac5c29a487b261,L73073f79-af6d-4c58-a0c3-6e22f16e7238,0.2,HINT_REQUEST,1,1.0,0.0,UNGRADED,NaN,NaN,NaN,AplusControl,NaN,Initialize BKT KC,BKT,NaN,Start,1.0,2017-05-16 11:27:44.200000-04:00,2017-05-16 11:27:44.200000
35779,Stu_023f68b8c3e4e3eb51ac5c29a487b261,L73073f79-af6d-4c58-a0c3-6e22f16e7238,3,HINT_REQUEST,1,11.0,0.0,UNGRADED,NaN,NaN,NaN,AplusControl,NaN,Splash screen appeared,SIM_STUDENT_PLE,NaN,Start,1.0,2017-05-16 11:27:47.018000-04:00,2017-05-16 11:27:47.018000
36698,Stu_023f68b8c3e4e3eb51ac5c29a487b261,L73073f79-af6d-4c58-a0c3-6e22f16e7238,.,HINT_REQUEST,1,12.0,0.0,UNGRADED,NaN,NaN,NaN,AplusControl,NaN,Splash screen,SIM_STUDENT_PLE,NaN,Start,1.0,2017-05-16 11:49:22.962000-04:00,2017-05-16 11:49:22.962000
36846,Stu_023f68b8c3e4e3eb51ac5c29a487b261,L73073f79-af6d-4c58-a0c3-6e22f16e7238,27,HINT_REQUEST,1,13.0,0.0,UNGRADED,NaN,NaN,NaN,AplusControl,NaN,Left Tab,SIM_STUDENT_ACTION_LISTENER,1352.0,Start,1.0,2017-05-16 11:50:16.900000-04:00,2017-05-16 11:50:16.900000