<a href="https://colab.research.google.com/github/rithikkulkarni/simstudent-data-preprocessing/blob/main/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd

file_path = 'https://github.com/rithikkulkarni/simstudent-data-preprocessing/raw/main/Algebra2017May(YesPrep)-APLUS-SUBSET.xlsx'

df = pd.read_excel(file_path, sheet_name="Algebra2017May(YesPrep)-APLUS", engine="openpyxl")
print(df.shape)

(140943, 62)

In [27]:
unique_students = df['Anon Student Id'].nunique()
print(f'# of Unique Students: {unique_students}')

# of Unique Students: 266

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140943 entries, 0 to 140942
Data columns (total 62 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Row                          140943 non-null  int64
 1   Sample Name                  140943 non-null  object
 2   Transaction Id               140943 non-null  object
 3   Anon Student Id              140943 non-null  object
 4   Session Id                   140943 non-null  object
 5   Time                         140943 non-null  datetime64[ns]
 6   Time Zone                    140943 non-null  object
 7   Duration (sec)               140943 non-null  object
 8   Student Response Type        140943 non-null  object
 9   Student Response Subtype     63907 non-null   object
 10  Tutor Response Type          136474 non-null  object
 11  Tutor Response Subtype       62173 non-null   object
 12  Level (Unit)                 140943 non-null  object
 13  Problem Name                 140942 non-null  object
 14  Problem View                 140943 non-null  int64
 15  Problem Start Time           140943 non-null  datetime64[ns]
 16  Step Name                    136474 non-null  object
 17  Attempt At Step              136474 non-null  float64
 18  Is Last Attempt              136474 non-null  float64
 19  Outcome                      136474 non-null  object
 20  Selection                    68958 non-null   object
 21  Action                       68958 non-null   object
 22  Input                        68954 non-null   object
 23  Feedback Text                20420 non-null   object
 24  Feedback Classification      0 non-null       float64
 25  Help Level                   5806 non-null    float64
 26  Total Num Hints              0 non-null       float64
 27  Condition Name               140943 non-null  object
 28  Condition Type               0 non-null       float64
 29  KC (Problem)                 86862 non-null   object
 30  KC Category (Problem)        86862 non-null   object
 31  KC (Step)                    53673 non-null   object
 32  KC Category (Step)           53673 non-null   object
 33  KC (ActualSkill)             66297 non-null   object
 34  KC Category (ActualSkill)    66293 non-null   object
 35  KC (Default)                 62173 non-null   object
 36  KC Category (Default)        62172 non-null   object
 37  KC (ProblemSubmit)           915 non-null     object
 38  KC Category (ProblemSubmit)  915 non-null     object
 39  KC (Single-KC)               136474 non-null  object
 40  KC Category (Single-KC)      0 non-null       float64
 41  KC (Unique-step)             97186 non-null   object
 42  KC Category (Unique-step)    0 non-null       float64
 43  School                       140943 non-null  object
 44  Class                        140943 non-null  object
 45  CF (ACTION)                  138286 non-null  object
 46  CF (ACTION_TYPE)             138286 non-null  object
 47  CF (DURATION)                23458 non-null   float64
 48  CF (HINT_FOLLOWED)           138286 non-null  object
 49  CF (HINT_SUBJECT)            138285 non-null  object
 50  CF (HINT_TYPE)               138286 non-null  object
 51  CF (INFO)                    138286 non-null  object
 52  CF (RESULT)                  107955 non-null  object
 53  CF (STATUS)                  138286 non-null  object
 54  CF (STUDENT_LOG_COUNT)       138286 non-null  float64
 55  CF (USERID)                  138286 non-null  object
 56  CF (date)                    138286 non-null  object
 57  Participation Day Key        138286 non-null  object
 58  Participation Day            137985 non-null  float64
 59  CF (tool_event_time)         140943 non-null  object
 60  Unnamed: 60                  0 non-null       float64
 61  Unnamed: 61                  0 non-null       float64
dtypes: datetime64[ns](2), float64(13), int64(2), object(45)
memory usage: 66.7+ MB

In [ ]:
### COLUMNS TO REMOVE
# ------------------------------------
# 'Row"
# 'Sample Name'
# 'Transaction Id'




### COLUMNS TO KEEP
# ------------------------------------
# 'Anon Student Id'
# 'Session Id'